.sectionContact {
    margin-top: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.divContact {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .25rem;
    border-radius: 10px;
    background: linear-gradient(to right, #5d4157, #a8caba);
    /* background: linear-gradient(to right, #3d7eaa, #ffe47a); */
}

.formContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.pLeaveMessage {
    text-align: center;
    font-size: 16px;
    font-family: 'Play';
    color: white;
}

.inputEnterMessage, .inputEnterName {
    width: 500px;
    margin: 0;
    border: 1px solid #888888;
    border-radius: 10px;
    outline: #555555;
    padding: .2rem .35rem .2rem .35rem;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputEnterName {
    width: 200px;    
}

.svgSendIcon {
    width: 20px;
    height: 20px;
    margin-right: .25rem;
}

.buttonFormContact {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    margin-left: .5rem;
}

.buttonFormContact:hover {
    transition: 100ms ease-in-out;
    transform: scale(1.2);
}

.divAllMessages {
    padding: .2rem .1rem .1rem .1rem;
    height: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    overflow-y: scroll;
}

.divMessageChatMe {
    border-radius: 5px;
    margin: 0rem .1rem 0 .1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.divMessageChat {
    border-radius: 5px;
    margin: 0rem .1rem 0 .1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pMessageChatMe, .pMessageChat {
    border-radius: 5px;
    padding: .5rem;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: normal;
    text-align: left;
    border: 1px solid rgb(106, 238, 176);
    background-color: rgb(106, 238, 176);
    max-width: 50%;
    line-height: 24px;
}

.pMessageChat {
    border: 1px solid #91d3ff;
    background-color: #91d3ff;
}

.sectionContactNoUser {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Play';
}

.imgContactNoUser {
    max-width: 200px;
    margin: .25rem 0 2rem 0;
}

.linkContactNoUser {
    text-decoration: none;
}

.pContactNoUserOops {
    font-size: 16px;
}

.pContactNoUser {
    color: black;
    transition: 200ms ease-in-out;
}

.pContactNoUser:hover {
    transition: 200ms ease-in-out;
    transform: translateX(1.25rem);
}