.divForm {
    width: 100vw;
}

.loginForm {
    padding: 1rem;
    display: grid;
    place-items: center;
    font-family: 'Play';
}

.login {
    text-align: center;
    padding: .5rem;
    margin-bottom: 1rem;
    font-size: 16px;
}

.inputBox {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: ridge 1px;
    width: 200px;
    margin-top: -1rem;
    font-family: 'Play';
    padding-bottom: .2rem;
}

.inputBox:focus {
    outline: none;
}

.divPass {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: .75rem;
    width: 200px
}

.showPassLabel {
    font-size: 14px;
    margin-left: .25rem;
}


.labels {
    text-align: left;
    width: 200px;
    font-size: 14px;
}

.submitButton {
    font-family: 'Play';
    font-size: 12px;
    margin-top: .5rem;
    padding: .25rem;
    color: yellow;
    background-color: rgb(107, 12, 107);
    border: 1px solid #555555;
    border-radius: 5px;
    transition: .2s ease-in-out;
    cursor: pointer;
    width: 80px;
}

.submitButton:hover {
    color: rgb(107, 12, 107);
    background-color: yellow;
    transition: .2s ease-in-out;
    border: 1px solid #555555;
    cursor: pointer;
}

.divButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
}

.reset {
    background-color: brown;
    color: yellow;
}

.registeredFailed {
    text-align: center;
    font-size: 14px;
    font-family: 'Play';
}

.alreadyAccount {
    font-size: 14px;
    margin-left: .25rem;
    text-align: start;
    width: 200px;
    margin: .25rem 0 .5rem 0;
}

.linkAlreadyAccount {
    text-decoration: none;
    color: black;
}

.linkAlreadyAccount:hover {
    color: navy;
}